<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter_18pt-SemiBold.ttf</string>
		<string>Inter_24pt-Medium.ttf</string>
		<string>Inter_24pt-Regular.ttf</string>
		<string>Inter_28pt-Bold.ttf</string>
	</array>
</dict>
</plist>
